language: python
python:
- '3.7'
install:
- pip install ".[all]"
cache: pip
script:
- mypy lambdantic --disallow-untyped-defs --ignore-missing-imports
- black lambdantic tests --check --skip-string-normalization
- isort --recursive --check-only -w 88 --combine-as  --thirdparty lambdantic lambdantic
  tests -m 3 -tc
- cp README.md docs/index.md && mkdocs build --verbose --clean --strict
deploy:
  - provider: pypi
    user: koxudaxi
    skip_existing: true
    password:
      secure: vvjXeZ8zzU18f0Zo3qhFM7aKObkG9PKpAJi5AHedBTQlw9ZRo9Xs9HALxOIakHxQ+MTMHG4oCX3vpM2JJr3A4cLbkPZWwouFTwXlDq9h5gNDlNTiLoI5RF9a47JIjl8+rYEl/toTXDcIwFv2FDHpEMVzQZaSsTJXu9vKEgjOcLxvWP9BEAUSxyFA2HvqfQb4c9AunIirXEWkr+q3GjfT2/vyz5bY7SUMgN8iBJbLo73fjOSxhqBZpVic5o6/DkzCHHnJV61EVAkqRT431qcvwqSFkpBfgnSbyNvNROlEMOtqbGmMYPPbooLg9l0eQWyTB8uL97cP8SvG0S8niHZ05QBmWoMZB5VnOvvFltPEjgw4GHfPH9Im6K5oYsG4tDE914HxzQpt6yN5oraSJNXbn3P58kg0a4009Std9Lkvva8g+iMDPr0CxGN5Pw2OKPsvq03S1rGEEYoWonJPsoUDCaiGGqk+R2Ivzys1Vt/v8mY5U+BVG8jT51i3mP9NqlGHipKPnk+FOLGA9/BbNLHimd3729ci9nOO1VKRWj5/s2qx5EroVAR/f6Oyi/7J8PeDO5dzKNvyfIpmTcA1Q9mNmIO18wRRE8wut3c1rr1tZUYyhEJf5Hz86qp54GriQdZiVnygoWJzdoqp+C54O7NBTPKeP3GLdQU0gFEIQRWqNbw=
    on:
      tags: true
      python: '3.7'
    distributions: sdist bdist_wheel
  - provider: pages
    skip_cleanup: true
    github_token:
      secure: FkfEfpEsjcqGi6XN2fGwUZ1Q/10QaK+aZ8b9k4QcPQnQ8L0FZxcaaciAUkbfpEisH4qlzTqHtyVQ2ZTfmb3gr7/Hoh6bhpKyFRQMnW/UGY8+jhBFHQJ47gHRdxYx1pJ+C5y7uYTIMRGyKT/2p2bYTbP2quvyQOL7WOTOy/k3KHD/neATtA0BHlODDp0/LFMXdn1xWCYJjQxUzFQTDaCP0EX2NlKpQdsgFq7ZLkbRoxokcpJ6r9MoL+R3W53TUFTJukiAMf6QO7k1IreavztjZnXZJ5KTOZX3qOu1C8FKgn8CEx/9uIIfqYFNNzTw7vmia8MZAt6HRq1QwNDyhmr8K0+/Ptxv8yPFZQWjCw+0zzowuza4DNmSOpYzOzCDpmuYK3e1gLSSxWWWNnqwjKdqYKUwicpeWsLCcZc6mzDFAoCYiHwOq6H3NwEb+QD0aHXFbZA2B0ORqZCG/jY43qmao+Wm4yXhoqCNsxqwZpNcIp4AP+kUSNno9VQ0Qdvejr9oEiRes2IhOFxusTc5EkkQ2H1wwBP+3NEuo4wjUIRndnvpCDUx2V/J55WVHZ6LHNqnRHBm1d7PHy3yMw2eJWuWfzWdF24srAjoqcclFoyNrcL7EI+LNehGg39Hku3jL05ma7zuulmwtw51S1Cva84FZrtEC9jswG9xgTxeIdq5MmA=
    local_dir: site
    on:
      branch: master
      python: '3.7'

